@using System.Globalization;
@model IndexHistoryViewModel

@{

    var parameters = new Dictionary<string, string>
 {
      {"Username", Model.HistoryQueryParameters.Username},
      {"FromDate", Model.HistoryQueryParameters.FromDate},
      {"ToDate", Model.HistoryQueryParameters.ToDate}
 };
    var loggedUserId = User.FindFirst(ClaimTypes.NameIdentifier);
    var isAdmin = User.FindFirst("IsAdmin");
   
    var username = User.FindFirst(ClaimTypes.Name);
    var imagePath = @Url.Content("~/UploadedImages/" + username.Value + ".png");
}
<!-- Secondary menu
  ============================================= -->
<div class="bg-primary">
    <div class="container d-flex justify-content-center">
        <ul class="nav nav-pills alternate nav-lg border-bottom-0">
            <li class="nav-item"> <a class="nav-link active" asp-controller="History" asp-action="Index">History</a></li>
            <li class="nav-item"> <a class="nav-link" asp-controller="Transaction" asp-action="Index">Transaction</a></li>
            <li class="nav-item"> <a class="nav-link" asp-controller="Transfer" asp-action="Index">Transfer</a></li>
        </ul>
    </div>
</div>
<!-- Secondary menu end -->

<body>


    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                        <form enctype="multipart/form-data">
                            <div class="profile-thumb mt-3 mb-4">
                                <img class="rounded-circle" src="@imagePath" height="110" width="110" alt="" id="ProductImage">

                            </div>
                            <p class="text-3 fw-500 mb-2">Hello, @this.Model.LoggedUser.Username<br />@DateTime.Now.DayOfWeek, @DateTime.Now.Date.ToShortDateString()</p>
                            <p class="mb-2"><a asp-action="Profile" asp-controller="User" asp-route-id="@Model.LoggedUser.Id" class="text-5 text-light" data-bs-toggle="tooltip" title="Edit Profile"><i class="fas fa-edit"></i></a></p>
                        </form>
                    </div>
                    <!-- Profile Details End -->
                    @if (!Model.LoggedUser.IsAdmin)
                    {


                        <!-- Available Balance
                        =============================== -->
                        <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                            <div class="text-17 text-light my-3"><i class="fas fa-wallet text-primary"></i></div>
                            <h3 class="text-9 fw-400">@Model.LoggedUser.Account.Balance @Model.LoggedUser.Account.Currency.CurrencyCode</h3>
                            <p class="mb-2 text-muted opacity-8">Available Balance</p>
                            <hr class="mx-n3">
                            <div class="d-flex">
                                <a asp-controller="Transfer" asp-action="Create" class="btn-link me-auto">Withdraw</a>
                                <a asp-controller="Transfer" asp-action="Create" class="btn-link ms-auto">Deposit</a>
                            </div>
                        </div>
                        <!-- Available Balance End -->

                    }
                </aside>
                <!-- Left Panel End -->

    <!-- Middle Panel
            ============================================= -->
    <div class="col-lg-9">
        <h2 class="fw-400 mb-3">History</h2>

        <!-- Filter
        ============================================= -->
        <div class="row">
            <div class="col mb-2">
                <form asp-controller="History" asp-action="Index" id="filterTransactions" method="get">
                    <div class="row g-3 mb-3">
                        <!-- Date Range
                        ========================= -->
                        <div class="row g-3">
                            <div class="col-6 col-md-3">
                                           
                                <input type="date" name="FromDate"  class="form-control" placeholder="From Date">
                            </div>
                            <div class="col-6 col-md-3">
                                           
                                <input type="date" name="ToDate"  class="form-control" placeholder="To Date">
                            </div>
                                        @if (Model.LoggedUser.IsAdmin)
                                        {
                                            
                            <div class="col-6 col-md-3">
                                <input type="text" name="Username" class="form-control" placeholder="Username">
                            </div>
                                        }  

                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary shadow-none">Filter</button>
                            </div>
                        </div>
                        
                        <!-- All Filters collapse End -->
                    </div>
                </form>
            </div>
        </div>
        <!-- Filter End -->


        <!-- All Transactions
        ============================================= -->
        <div class="bg-white shadow-sm rounded py-4 mb-4">
            <h3 class="text-5 fw-400 d-flex align-items-center px-4 mb-4">All Money Operations</h3>
            <!-- Title
            =============================== -->
            <div class="transaction-title py-2 px-4">
                <div class="row">
                    <div class="col-2 col-sm-1 text-center"><span class="">Date</span></div>
                    <div class="col col-sm-7">Description</div>
                    <div class="col-auto col-sm-2 d-none d-sm-block text-center">Status</div>
                    <div class="col-3 col-sm-2 text-end">Amount</div>
                </div>
            </div>
            <!-- Title End -->

                    @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="row">
                                <div class="col text-center">
                                    <p>&nbsp;</p>
                                    <p>@ViewData["ErrorMessage"]</p>
                                </div>
                            </div>

                        }
                        else
                        {


            <!-- History List
            =============================== -->
            <div class="transaction-list">
              @foreach(var operation in Model.GetHistoryDtos)
              {
                <div class="transaction-item px-4 py-3" data-bs-toggle="modal" data-bs-target="#transaction-detail">
                    <div class="row align-items-center flex-row">
                            @{
                                               var day = operation.EventTime.Day.ToString();
                                                var culture = new CultureInfo("en-US");
                                                var month = operation.EventTime.ToString("MMM", culture).ToUpper();

                                            <div class="col-2 col-sm-1 text-center"> <span class="d-block text-4 fw-300">@day</span> <span class="d-block text-1 fw-300 text-uppercase">@month</span> </div>
                                            
                                                    
                                            @if (Model.LoggedUser.IsAdmin)
                                            {
                                                <div class="col col-sm-7">
                                                    <span class="d-block text-4">Account: @operation.AccountUsername</span>
                                                    <span class="d-block text-4"></span> <span class="text-muted">@operation.EventTime.ToString("hh:mm")  @operation.NameOperation @operation.Direction  </span>
                                                </div>

                                            }
                                            else
                                            {
                                                <div class="col col-sm-7">
                                                    <span class="d-block text-4">@operation.EventTime.ToString("hh:mm")  @operation.Direction </span>
                                                    <span class="d-block text-4"></span> <span class="text-muted">@operation.NameOperation</span>
                                                </div>

                                            }

                            

                                <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3"> <span class="text-success" data-bs-toggle="tooltip" title="Completed"><i class="fas fa-check-circle"></i></span> </div>
                                @if (operation.Direction == "In" || operation.Direction == "Deposit")
                                {
                                    <div class="col-3 col-sm-2 text-end text-4"> <span class="text-nowrap">+$@operation.Amount</span> <span class="text-2 text-uppercase">(@operation.CurrencyCode)</span> </div>
                                }
                                else
                                {
                                    <div class="col-3 col-sm-2 text-end text-4"> <span class="text-nowrap">-$@operation.Amount</span> <span class="text-2 text-uppercase">(@operation.CurrencyCode)</span> </div>
                                }
                            }
                        </div>
                </div> 
               }
            </div>
            <!-- History List End -->
            
            <!-- Pagination
            ============================================= -->
            
                string prevButtonState = this.Model.GetHistoryDtos.HasPrevPage ? "" : "disabled";
                string nextButtonState = this.Model.GetHistoryDtos.HasNextPage ? "" : "disabled";
           
            <ul class="pagination justify-content-center mt-4 mb-0">
                <li class="page-item @prevButtonState">
                    <a class="page-link"
                       asp-controller="History"
                       asp-action="Index"
                       asp-all-route-data="@parameters"
                       asp-route-PageNumber="@(this.Model.GetHistoryDtos.PageNumber-1)"
                       class="btn btn-link @prevButtonState">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>

                @{
                    int currentPageNumber = this.Model.GetHistoryDtos.PageNumber;
                    for (int i = 1; i <= this.Model.GetHistoryDtos.TotalPages; i++)
                    {
                        if (i == currentPageNumber)
                        {
                            <li class="page-item active"><a class="page-link">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link"
                       asp-controller="History"
                       asp-all-route-data="@parameters"
                       asp-action="Index"
                       asp-route-PageNumber="@i">@i</a>
                            </li>
                        }
                    }
                }

                <li class="page-item @nextButtonState">
                    <a class="page-link"
                       asp-controller="History"
                       asp-action="Index"
                       asp-all-route-data="@parameters"
                       asp-route-PageNumber="@(this.Model.GetHistoryDtos.PageNumber+1)"
                       class="btn btn-link @nextButtonState">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- Paginations end -->
}
        </div>
        <!-- All Transactions End -->
    </div>
    <!-- Middle End -->
    </div>
    </div>
    </div>
    <!-- Content end -->

</body>
