@using System.Globalization;
@using DataAccess.Models.Enums;
@model IndexTransactionViewModel

@{

    var parameters = new Dictionary<string, string>
 {
      {"RecipientUsername", Model.TransactionQueryParameters.RecipientUsername},
      {"FromDate", Model.TransactionQueryParameters.FromDate},
      {"ToDate", Model.TransactionQueryParameters.ToDate},
      {"Direction", Model.TransactionQueryParameters.Direction},
 };

}

<!-- Secondary menu
  ============================================= -->
<div class="bg-primary">
    <div class="container d-flex justify-content-center">
        <ul class="nav nav-pills alternate nav-lg border-bottom-0">
            <li class="nav-item"> <a class="nav-link" asp-controller="History" asp-action="Index">History</a></li>
            <li class="nav-item"> <a class="nav-link active" asp-controller="Transaction" asp-action="Index">Transaction</a></li>
            <li class="nav-item"> <a class="nav-link" asp-controller="Transfer" asp-action="Index">Transfer</a></li>
        </ul>
    </div>
</div>
<!-- Secondary menu end -->

<body>


    <partial name="_HistoryForm" />

    <!-- Middle Panel
            ============================================= -->
    <div class="col-lg-9">
        <h2 class="fw-400 mb-3">Transaction</h2>

        <!-- Filter
        ============================================= -->
        <div class="row">
            <div class="col mb-2">
                <form asp-controller="Transaction" asp-action="Index" method="get" id="filterTransactions">
                    <div >
                        <!-- Date Range
                        ========================= -->
                        

                        <div class="row g-3">
                            <div class="col-6 col-md-3">
                                <input type="date" name="FromDate" class="form-control" required placeholder="From Date">
                            </div>
                            <div class="col-6 col-md-3">
                                <input type="date" name="ToDate" class="form-control"  required placeholder="To Date">
                            </div>
                            <div class="col-6 col-md-3">
                                <input type="text" name="RecipientUsername" class="form-control"  required placeholder="Username">
                            </div>
                            <div class="col-6 col-md-3">
                                <input type="submit" class="btn btn-primary shadow-none">Filter</a>
                            </div>
                        </div>
                        

                        <!-- All Filters Link
                        ========================= -->
                        <div class="col-auto d-flex align-items-center me-auto form-group" data-bs-toggle="collapse"> <a class="btn-link" data-bs-toggle="collapse" href="#allFilters" aria-expanded="false" aria-controls="allFilters">All Filters<i class="fas fa-sliders-h text-3 ms-1"></i></a> </div>

                       

                        <!-- All Filters collapse
                        ================================ -->
                        <div class="col-12 collapse" id="allFilters">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="allTransactions" name="Direction" checked>
                                <label class="form-check-label" for="allTransactions">All Money Operations</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="@DirectionType.In" id="paymentsSend" name="Direction">
                                <label class="form-check-label" for="paymentsSend">Payments Send</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="@DirectionType.Out" id="paymentsReceived" name="Direction">
                                <label class="form-check-label" for="paymentsReceived">Payments Received</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="@DirectionType.Out" id="paymentsReceived" name="Direction">
                                <label class="form-check-label" for="paymentsReceived">Payments Received</label>
                            </div>
                        </div>
                        <!-- All Filters collapse End -->
                    </div>
                    
                </form>
            </div>
        </div>
        <!-- Filter End -->
        <!-- All Transactions
        ============================================= -->
        <div class="bg-white shadow-sm rounded py-4 mb-4">
            <h3 class="text-5 fw-400 d-flex align-items-center px-4 mb-4">All Money Operations</h3>
            <!-- Title
            =============================== -->
            <div class="transaction-title py-2 px-4">
                <div class="row">
                    <div class="col-2 col-sm-1 text-center"><span class="">Date</span></div>
                    <div class="col col-sm-7">Description</div>
                    <div class="col-auto col-sm-2 d-none d-sm-block text-center">Status</div>
                    <div class="col-3 col-sm-2 text-end">Amount</div>
                </div>
            </div>
            <!-- Title End -->
            <!-- Transaction List
            =============================== -->
            <div class="transaction-list">
                @foreach (var transaction in Model.TransactionDtos)
                {
                    <div class="transaction-item px-4 py-3" data-bs-toggle="modal" data-bs-target="#transaction-detail">
                        <div class="row align-items-center flex-row">
                            @{
                                string dateString = transaction.Date.ToString();
                                DateTime dateTimeValue = DateTime.ParseExact(dateString, "d.M.yyyy г. H:mm:ss", CultureInfo.InvariantCulture);
                                string formattedDay = dateTimeValue.ToString("dd");
                                string formattedMonth = dateTimeValue.ToString("MMM").ToUpper();

                                <div class="col-2 col-sm-1 text-center"> <span class="d-block text-4 fw-300">@formattedDay</span> <span class="d-block text-1 fw-300 text-uppercase">@formattedMonth</span> </div>
                                <div class="col col-sm-7"> <span class="d-block text-4">@transaction.RecipientUsername </span>
                                @if (transaction.Description==DirectionType.Out.ToString())
                                    {
                                        <span class="text-muted">Payment Sent</span>
                                    }
                                    else
                                    {
                                        <span class="text-muted">Payment Received</span>
                                    }

                                </div>
                                

                                @if (transaction.IsConfirmed)
                                {
                                    <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3"> <span class="text-success" data-bs-toggle="tooltip" title="Completed"><i class="fas fa-check-circle"></i></span> </div>
                                }
                                else if (transaction.IsDeleted)
                                {

                                    <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3"> <span class="text-danger" data-bs-toggle="tooltip" title="Cancelled"><i class="fas fa-times-circle"></i></span> </div>
                                }
                                else
                                {
                                    <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3">
                                    <a class="btn-link" asp-controller="Transaction" asp-action="Update" asp-route-id="@transaction.Id">Update</a>
                                    <span style="margin-right:5%"></span>
                                    <span class="text-warning" data-bs-toggle="tooltip" title="In Progress">
                                    <i class="fas fa-ellipsis-h"></i></span> </div>
                                }
                                @if (transaction.Direction == DirectionType.In.ToString())
                                {
                                    <div class="col-3 col-sm-2 text-end text-4"> <span class="text-nowrap">+$@transaction.Amount</span> <span class="text-2 text-uppercase">(@transaction.CurrencyCode)</span> </div>
                                }
                                else
                                {
                                    <div class="col-3 col-sm-2 text-end text-4"> <span class="text-nowrap">-$@transaction.Amount</span> <span class="text-2 text-uppercase">(@transaction.CurrencyCode)</span> </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
            <!-- Transaction List End -->
            <!-- Transaction Item Details Modal
            =========================================== -->
            <div id="transaction-detail" class="modal fade" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row g-0">
                                <div class="col-sm-5 d-flex justify-content-center bg-primary rounded-start py-4">
                                    <div class="my-auto text-center">
                                        <div class="text-17 text-white my-3"><i class="fas fa-building"></i></div>
                                        <h3 class="text-4 text-white fw-400 my-3">Envato Pty Ltd</h3>
                                        <div class="text-8 fw-500 text-white my-4">$557.20</div>
                                        <p class="text-white">15 March 2021</p>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="text-5 fw-400 m-3">
                                        Transaction Details
                                        <button type="button" class="btn-close text-2 float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </h5>
                                    <hr>
                                    <div class="px-3">
                                        <ul class="list-unstyled">
                                            <li class="mb-2">Payment Amount <span class="float-end text-3">$562.00</span></li>
                                            <li class="mb-2">Fee <span class="float-end text-3">-$4.80</span></li>
                                        </ul>
                                        <hr class="mb-2">
                                        <p class="d-flex align-items-center fw-500 mb-0">Total Amount <span class="text-3 ms-auto">$557.20</span></p>
                                        <hr class="mb-4 mt-2">
                                        <ul class="list-unstyled">
                                            <li class="fw-500">Paid By:</li>
                                            <li class="text-muted">Envato Pty Ltd</li>
                                        </ul>
                                        <ul class="list-unstyled">
                                            <li class="fw-500">Transaction ID:</li>
                                            <li class="text-muted">26566689645685976589</li>
                                        </ul>
                                        <ul class="list-unstyled">
                                            <li class="fw-500">Description:</li>
                                            <li class="text-muted">Envato March 2021 Member Payment</li>
                                        </ul>
                                        <ul class="list-unstyled">
                                            <li class="fw-500">Status:</li>
                                            <li class="text-muted">Completed<span class="text-success text-3 ms-1"><i class="fas fa-check-circle"></i></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Transaction Item Details Modal End -->
            <!-- Pagination
            ============================================= -->
            @{
                string prevButtonState = this.Model.TransactionDtos.HasPrevPage ? "" : "disabled";
                string nextButtonState = this.Model.TransactionDtos.HasNextPage ? "" : "disabled";
           }
            <ul class="pagination justify-content-center mt-4 mb-0">
                <li class="page-item @prevButtonState"> 
                    <a class="page-link" 
                    asp-controller="Transaction" 
                    asp-action="Index" 
                    asp-all-route-data="@parameters" 
                    asp-route-PageNumber="@(this.Model.TransactionDtos.PageNumber-1)" 
                    class="btn btn-link @prevButtonState">
                    <i class="fas fa-angle-left"></i></a> </li>
               
                @{
                    int currentPageNumber = this.Model.TransactionDtos.PageNumber;
                    for (int i = 1; i <= this.Model.TransactionDtos.TotalPages; i++)
                    {
                        if (i == currentPageNumber)
                        {
                            <li class="page-item active"><a class="page-link">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item">
                            <a class="page-link" 
                            asp-controller="Transaction" 
                            asp-all-route-data="@parameters" 
                            asp-action="Index" 
                            asp-route-PageNumber="@i">@i</a></li>
                        }
                    }
                }

                <li class="page-item @nextButtonState"> 
                    <a class="page-link" 
                    asp-controller="Transaction" 
                    asp-action="Index" 
                    asp-all-route-data="@parameters" 
                    asp-route-PageNumber="@(this.Model.TransactionDtos.PageNumber+1)" 
                    class="btn btn-link @nextButtonState">
                    <i class="fas fa-angle-right"></i></a></li>
            </ul>
            <!-- Paginations end -->

        </div>
        
        
            <!-- All Transactions End -->
    </div>
    <!-- Middle End -->
    </div>
    </div>
    </div>
    <!-- Content end -->
    </div>
    
    
</body>
