@model UserDetailsViewModel

@{
    this.ViewData["Title"] = "Speed Pay - Details";
    var username = User.FindFirst(ClaimTypes.Name);
    var currentUserImagePath = @Url.Content("~/UploadedImages/" + Model.User.Username + ".png");
}

<title> @this.Model.User.Username</title>

<body>

    <div class="container mt-4">
        <div class="row">
            <aside class="col-lg-3">
                <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                    <div class="profile-thumb mt-3 mb-4">
                        <img class="center rounded-circle" src="@currentUserImagePath" height="30" width="30" alt="" style="width: 110px; height: 110px;" enctype="multipart/form-data">
                        <p class="text-black opacity-12 mb-4">
                            <b>@this.Model.User.Username</b> <br>
                                    @DateTime.Now.DayOfWeek, @DateTime.Now.Date.ToShortDateString()
                        <p>
                    </div>
                </div>
            </aside>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0 text-center">
                            @if (this.Model.User.Admin)
                            {
                                <i class="fas fa-crown text-primary"></i> <span class="btn-outline-success">Admin</span>
                            }
                            else
                            {
                                <i class="text-primary"></i> <span class="btn-outline-success">Regular user</span>
                            }
                        </h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <i class="fas fa-robot text-primary"></i> Firstname
                                        </th>
                                    <td>@this.Model.User.FirstName</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fas fa-robot text-primary"></i> Lastname
                                        </th>
                                        <td>@this.Model.User.LastName</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fas fa-envelope text-primary"></i>  Email
                                    </th>
                                    <td>@this.Model.User.Email</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fas fa-phone text-primary"></i>  Phone number
                                    </th>
                                    <td>@this.Model.User.PhoneNumber</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fas fa-map-marker-alt text-primary"></i> Country
                                    </th>
                                    <td>@this.Model.User.Country</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fas fa-calendar-day text-primary"></i> Date of Birth
                                    </th>
                                    <td>@this.Model.User.DateOfBirth</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fas fa-money-bill text-primary"></i> Wallet Balance
                                        </th>
                                    <td>@this.Model.User.AccountBalance</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fas fa-list text-primary"></i> Cards registered
                                        </th>
                                    <td>@this.Model.Cards</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fas fa-check text-primary"></i> Registration
                                        </th>
                                    
                                        @if (this.Model.User.ConfirmedRegistration)
                                        {
                                        <td class="text-success">Confirmed</td>
                                        }
                                        else
                                        {
                                        <td class="text-danger">Account is not verified. Needs email confirmation</td>
                                        }
                                </tr>
                            </tbody>
                        </table>
                        @if (this.Model.User.Admin)
                        {
                            <span class="badge badge-warning">Admin</span>
                        }
                        @if (this.Model.User.Blocked)
                        {
                            <span class="badge badge-danger">Blocked user</span>
                        }
                    </div>
                    <div class="card-footer">
                        <a href="/User/Index" class="btn btn-primary">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>