@model UserSearchModel

@{
    this.ViewData["Title"] = "Speed Pay - Users";
    var username = User.FindFirst(ClaimTypes.Name);
    var loggedUserId = User.FindFirst(ClaimTypes.NameIdentifier);
    var isAdmin = User.FindFirst("IsAdmin");
    var isBlocked = User.FindFirst("IsBlocked");
    var isLogged = false;
    if (User.Claims.Any()) { isLogged = true; };
    var loggedUserImagePath = @Url.Content("~/UploadedImages/" + username.Value + ".png");
}

<style>
    #userResults {
        display: none;
    }
</style>

@{

 var parameters = new Dictionary<string, string>
 {
      {"FirstName", Model.UserQueryParameters.FirstName},
      {"LastName", Model.UserQueryParameters.LastName},
      {"Username", Model.UserQueryParameters.Username},
      {"Email", Model.UserQueryParameters.Email},
      {"PhoneNumber", Model.UserQueryParameters.PhoneNumber},
      {"SortBy",Model.UserQueryParameters.SortBy},
      {"SortOrder",Model.UserQueryParameters.SortOrder}
 };

}
<body>

    <h5 class="fw-400 d-flex align-items-center nav-link"></h5>

    <form asp-controller="User" asp-action="Index" method="get">

         @if (isAdmin.Value == "True")
        {
            <div class="container">
                <div class="row">
                    <aside class="col-lg-3">
                    <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                                <img class="center rounded-circle" src="@loggedUserImagePath" height="30" width="30" alt="" style="width: 110px; height: 110px;" enctype="multipart/form-data">
                                <p class="text-black opacity-12 mb-4">
                                    Hello, <b>@username.Value</b>! <br>
                                 @DateTime.Now.DayOfWeek, @DateTime.Now.Date.ToShortDateString()<p>
                            </div>
                        </div>
                    </aside>

                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <form class="bg-white shadow-sm rounded p-3 mb-4 col-sm-5 col-md-4">
                                    <div class="d-flex flex-wrap mb-3">
                                        <input type="text" name="Firstname" placeholder="First name" class="form-control me-1" style="max-width: 145px; height: 40px;" />
                                        <input type="text" name="Lastname" placeholder="Last name" class="form-control me-1" style="max-width: 145px; height: 40px;" />
                                        <input type="text" name="Username" placeholder="Username" class="form-control me-1" style="max-width: 145px; height: 40px;" />
                                        <input type="text" name="Email" placeholder="Email" class="form-control me-1" style="max-width: 145px; height: 40px;" />
                                        <input type="text" name="PhoneNumber" placeholder="Phone number" class="form-control me-1" style="max-width: 145px; height: 40px;" />
                                        <input type="submit" value="Search" class="btn btn-primary btn-sm ms-auto" />
                                    </div>
                                    <div class="d-flex">
                                        <span class="form-check-inline me-4">
                                            <input type="checkbox" name="Admin" value="true" class="form-check-input" /> Admin
                                        </span>
                                        <span class="form-check-inline">
                                            <input type="checkbox" name="Blocked" value="true" class="form-check-input" /> Blocked
                                        </span>
                                    </div>
                                    <br>
                                </form>
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-lg-12">

                                @for (int i = 0; i < @Model.Users.Data.Count; i++)
                                {
                                    var currentUser = @Model.Users.Data[i];
                                    var currentUserImagePath = @Url.Content("~/UploadedImages/" + currentUser.Username + ".png");
                                    <div class="col-lg-12">
                                        <div class="transaction-list">
                                            <div class="transaction-item px-2 py-2" data-bs-toggle="modal" data-bs-target="#transaction-detail">
                                                <div class="row d-flex align-items-center flex-row bg-white">
                                                    <div class="col-2 col-sm-1">
                                                        <img src="@currentUserImagePath" height="50" width="50" class="rounded-circle" alt="" enctype="multipart/form-data">
                                                    </div> 
                                                    <div class="col-4 col-sm-4">
                                                        <span class="d-block text-2 mt-2">@currentUser.FirstName @currentUser.LastName / <b>@currentUser.Username</b></span>
                                                        <span class="d-block text-2">@currentUser.Email</span>
                                                        <span class="d-block text-2">@currentUser.PhoneNumber</span>
                                                    </div>
                                                    <div class="col-4 col-sm-4">
                                         
                                                        <div class="d-flex justify-content-end">
                                                            <a asp-controller="User" asp-action="Details" asp-route-id="@currentUser.Id" class="btn btn-primary btn-sm me-3">Details</a>
                                                            <a asp-controller="User" asp-action="Edit" asp-route-id="@currentUser.Id" class="btn btn-warning btn-sm me-3">Status</a>
                                                            <a asp-controller="User" asp-action="Delete" asp-route-id="@currentUser.Id" class="btn btn-danger btn-sm">Delete</a>
                                                        </div>
                                                    </div>

                                                    <!-- Account Settings
                                                    ============================================= -->
                                                    <div class="bg-white shadow-sm rounded p-4 mb-4">
                                                        <h3 class="text-5 fw-400 d-flex align-items-center mb-4">Account Settings

                                                        </h3>
                                                        <hr class="mx-n4 mb-4">
                                                        <div class="row gx-3 align-items-center">
                                                            <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">User status:</p>
                                                            <p class="col-sm-9 text-3"><b>@((currentUser.IsAdmin) ? "Admin" : "Regular User")</b></p>
                                                        </div>
                                                        <div class="row gx-3 align-items-center">
                                                            <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Account Status:</p>
                                                            @if (currentUser.IsBlocked)
                                                            {
                                                            <p class="col-sm-9 text-3"><span class="bg-danger text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i>Blocked</span></p>
                                                                
                                                            }
                                                            else
                                                            {
                                                                <p class="col-sm-9 text-3"><span class="bg-success text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i>Active</span></p>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="row">
                 <aside class="col-lg-3">
                    <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                                    <div class="row g-4 mb-5">
                                        <div class="col-md-4">
                                            <div class="featured-box style-3">
                                                <div class="featured-box-icon bg-primary text-white rounded"> <i class="fas fa-bullhorn"></i> </div>
                                                <h3>Refer friends</h3>
                                            </div>
                                        </div>
                                    </div>
                    <p class="text-muted opacity-8 mb-4">Supercharge your connections! Enter emails, send invites for registration. Successful sign-ups earn you both rewards. Limited invites, unlimited possibilities. Discover more in our FAQ section!</p>
                    <div class="d-grid"><a asp-controller="Help" asp-action="FAQ" class="btn btn-primary btn-sm">Go to FAQ</a></div></div>
               </aside>
                    <div class="col-lg-9">
                            <div class="row">
                                  <div class="col-lg-12">
                                <form class="bg-white shadow-sm rounded p-4 mb-5 col-sm-6 col-md-5">
                                    <div class="row">
                                        <div class="col-md-5 mb-2">
                                            <input type="text" name="Username" placeholder="Username" class="form-control" style="height: 40px; max-width: 330px;" />
                                        </div>
                                        <div class="col-md-5">
                                            <input type="submit" value="Search" class="btn-sm btn-primary btn-block" onclick="toggleUserResults()" />
                                        </div>
                                    </div>
                                    <input type="text" name="Email" placeholder="Email" class="form-control mb-2" style="height: 40px; max-width: 330px;" />
                                    <input type="text" name="PhoneNumber" placeholder="Phone number" class="form-control mb-2" style="height: 40px; max-width: 330px;" />
                                </form>
                                  </div>
                            </div>
                       <div class="row">
                            <div class="col-lg-12">
                                @{
                                    bool isSearchClicked = !string.IsNullOrEmpty(Context.Request.Query["Username"]) ||
                                    !string.IsNullOrEmpty(Context.Request.Query["Email"]) ||
                                    !string.IsNullOrEmpty(Context.Request.Query["PhoneNumber"]);
                                }
                                @if (isSearchClicked)
                                {
                                    @for (int i = 0; i < @Model.Users.Data.Count; i++)
                                    {
                                        var currentUser = @Model.Users.Data[i];
                                        var currentUserImagePath = @Url.Content("~/UploadedImages/" + currentUser.Username + ".png");
                                        <div class="col-lg-8 mt-4">
                                            <div class="transaction-list">
                                                <div class="transaction-item px-6 py-6" data-bs-toggle="modal" data-bs-target="#transaction-detail">
                                                    <div class="row d-flex align-items-center flex-row">
                                                        <div class="col-5 col-sm-3"><img src="@currentUserImagePath" height="110" width="110" class="rounded-circle" alt="" enctype="multipart/form-data"></div>
                                                        <div class="col-12 col-sm-8 col-md-6">
                                                            <div class="d-flex flex-column">
                                                                <span class="text-3">@currentUser.FirstName @currentUser.LastName / <a asp-action="CreateWithUsername" asp-controller="Transaction" asp-route-username="@currentUser.Username"><b>@currentUser.Username</b></a></span>
                                                                <span class="text-3">@currentUser.Email</span>
                                                                <span class="text-3">@currentUser.PhoneNumber</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                           </div>
                       </div>
                    </div>
                </div>
             </div>
        } 
    </form>

    @{
        string prevButtonState = this.Model.Users.Data.HasNextPage ? "" : "disabled";
        string nextButtonState = this.Model.Users.Data.HasNextPage ? "" : "disabled";
    }
    <div class="d-flex justify-content-center margin: 5px">
    <a asp-controller="User" asp-action="Index" asp-all-route-data="@parameters" asp-route-PageNumber="@(this.Model.Users.Data.PageNumber-1)" class="btn btn-link @prevButtonState">Prev</a>
        <div class="d-flex align-items-center">
    @{
        int currentPageNumber = this.Model.Users.Data.PageNumber;
        for (int i = 1; i <= this.Model.Users.Data.TotalPages; i++)
        {
            if (i == currentPageNumber)
            {
                <span class="btn m-1">@i</span>
            }
            else
            {
                <span><a asp-controller="User" asp-all-route-data="@parameters" asp-action="Index" asp-route-PageNumber="@i" class=" btn btn-link m-1">@i</a></span>
            }
        }
    }
    </div>
    <a asp-controller="User" asp-action="Index" asp-all-route-data="@parameters" asp-route-PageNumber="@(this.Model.Users.Data.PageNumber+1)" class="btn btn-link @nextButtonState">Next</a>
    </div>

</body>