@model UserSearchModel

@{
    this.ViewData["Title"] = "Speed Pay - About us";
    var username = User.FindFirst(ClaimTypes.Name);
    var loggedUserId = User.FindFirst(ClaimTypes.NameIdentifier);
    var isAdmin = User.FindFirst("IsAdmin");
    var isLogged = false;
    if (User.Claims.Any()) { isLogged = true; };
}

@{

 var parameters = new Dictionary<string, string>
 {
      {"FirstName", Model.UserQueryParameters.FirstName},
      {"LastName", Model.UserQueryParameters.LastName},
      {"Username", Model.UserQueryParameters.Username},
      {"Email", Model.UserQueryParameters.Email},
      {"PhoneNumber", Model.UserQueryParameters.PhoneNumber},
      {"SortBy",Model.UserQueryParameters.SortBy},
      {"SortOrder",Model.UserQueryParameters.SortOrder}
 };

}
<body>

    <h5 class="fw-400 d-flex align-items-center nav-link"></h5>

    <form asp-controller="Users" asp-action="Index" method="get">
        <input type="text" name="Firstname" placeholder="First name" />
        <input type="text" name="Lastname" placeholder="Last name" />
        <input type="text" name="Username" placeholder="Username" />
        <input type="text" name="Email" placeholder="Email" />
        <input type="number" name="PhoneNumber" placeholder="Pnone number" />


        @if (isAdmin.Value == "True")
        {
            <span>
                <input type="checkbox" name="Admin" value="true" /> Admin
            </span>
            <span>
                <input type="checkbox" name="Blocked" value="true" /> Blocked
            </span>
        }
        <span style="margin-right: 30px;"></span>
        <input type="submit" value="Search" class="btn btn-primary" />
        <br />
        <br />
    </form>

        @for (int i = 0; i < @Model.Users.Data.Count; i++)
        {
            var currentUser = @Model.Users.Data[i];

                if (isAdmin.Value == "True")
                      {
            <div class="transaction-list">
                <div class="transaction-item px-2 py-2" data-bs-toggle="modal" data-bs-target="#transaction-detail">
                    <div class="row d-flex align-items-center flex-row">
                        <div class="col-2 col-sm-1">
                            <img src="@Url.Content("~/UploadedImages/" + username + ".png")" class="rounded-circle" src="~/images/profile-thumb-sm.jpg" alt="">
                        </div>
                        <div class="col-2 col-sm-2">
                            <span class="d-block text-2">@currentUser.FirstName @currentUser.LastName</span>
                            <span class="d-block text-2">@currentUser.Username</span>
                            <span class="d-block text-2">@currentUser.Email</span>
                            <span class="d-block text-2">@currentUser.PhoneNumber</span>
                            <span>@((currentUser.IsAdmin) ? "Admin" : "Regular User")</span>
                        </div>
                        <div class="col-2 col-sm-1">
                            <div class="d-flex flex-row align-items-center">
                                <a asp-controller="Users" asp-action="Details" asp-route-id="@currentUser.Id" class="btn btn-primary btn-sm me-1">Details</a>
                                <a asp-controller="Users" asp-action="Edit" asp-route-id="@currentUser.Id" class="btn btn-warning btn-sm me-1">Edit</a>
                                <a asp-controller="Users" asp-action="Delete" asp-route-id="@currentUser.Id" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                      }
                else
                      {
                          <div class="transaction-list">
                              <div class="transaction-item px-2 py-2" data-bs-toggle="modal" data-bs-target="#transaction-detail">
                                  <div class="row d-flex align-items-center flex-row">
                                      <div class="col-2 col-sm-1"><img src="@Url.Content("~/UploadedImages/" + username + ".png")" class="rounded-circle" src="~/images/profile-thumb-sm.jpg" alt=""></div>
                                      <div class="col-2 col-sm-2"><span class="d-block text-2">@currentUser.FirstName @currentUser.LastName</span></div>
                                      <div class="col-2 col-sm-2"><span class="d-block text-2">@currentUser.Username</span></div>
                                      <div class="col-2 col-sm-2"><span class="d-block text-2">@currentUser.Email</span></div>
                                      <div class="col-2 col-sm-1"><span class="d-block text-2">@currentUser.PhoneNumber</span></div>
                                  </div>
                              </div>
                          </div>
                }
        }

    @{
        string prevButtonState = this.Model.Users.Data.HasNextPage ? "" : "disabled";
        string nextButtonState = this.Model.Users.Data.HasNextPage ? "" : "disabled";
    }

    <a asp-controller="Users" asp-action="Index" asp-all-route-data="@parameters" asp-route-PageNumber="@(this.Model.Users.Data.PageNumber-1)" class="btn btn-link @prevButtonState">Prev</a>

    @{
        int currentPageNumber = this.Model.Users.Data.PageNumber;
        for (int i = 1; i <= this.Model.Users.Data.TotalPages; i++)
        {
            if (i == currentPageNumber)
            {
                <span>@i</span>
            }
            else
            {
                <span><a asp-controller="Users" asp-all-route-data="@parameters" asp-action="Index" asp-route-PageNumber="@i">@i</a></span>
            }
        }
    }
    <a asp-controller="Users" asp-action="Index" asp-all-route-data="@parameters" asp-route-PageNumber="@(this.Model.Users.Data.PageNumber+1)" class="btn btn-link @nextButtonState">Next</a>
</body>