@model UserSearchModel

@{
    this.ViewData["Title"] = "Speed Pay - About us";
    var username = User.FindFirst(ClaimTypes.Name);
    var loggedUserId = User.FindFirst(ClaimTypes.NameIdentifier);
    var isAdmin = User.FindFirst("IsAdmin");
    var isLogged = false;
    if (User.Claims.Any()) { isLogged = true; };
}

@{

 var parameters = new Dictionary<string, string>
 {
      {"FirstName", Model.UserQueryParameters.FirstName},
      {"LastName", Model.UserQueryParameters.LastName},
      {"Username", Model.UserQueryParameters.Username},
      {"Email", Model.UserQueryParameters.Email},
      {"PhoneNumber", Model.UserQueryParameters.PhoneNumber},
      {"SortBy",Model.UserQueryParameters.SortBy},
      {"SortOrder",Model.UserQueryParameters.SortOrder}
 };

}
<body>

    <h5 class="fw-400 d-flex align-items-center nav-link"></h5>

    <form asp-controller="Users" asp-action="Index" method="get">

         @if (isAdmin.Value == "True")
        {
            <div class="container">
                <div class="row">
                    <aside class="col-lg-3">
                    <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                                <img class="rounded-circle" src="@Url.Content("~/UploadedImages/" + @username.Value + ".png")" alt="">
                                <p class="text-black opacity-12 mb-4">
                                    Hello, <b>@username.Value</b>! <br>
                                 @DateTime.Now.DayOfWeek, @DateTime.Now.Date.ToShortDateString()<p>
                            </div>
                        </div>
                    </aside>

                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <form class="bg-white shadow-sm rounded p-3 mb-4 col-sm-5 col-md-4">
                                    <div class="d-flex flex-wrap mb-3">
                                        <input type="text" name="Firstname" placeholder="First name" class="form-control me-1" style="max-width: 150px; height: 40px;" />
                                        <input type="text" name="Lastname" placeholder="Last name" class="form-control me-1" style="max-width: 150px; height: 40px;" />
                                        <input type="text" name="Username" placeholder="Username" class="form-control me-1" style="max-width: 150px; height: 40px;" />
                                        <input type="text" name="Email" placeholder="Email" class="form-control me-1" style="max-width: 150px; height: 40px;" />
                                        <input type="text" name="PhoneNumber" placeholder="Phone number" class="form-control me-1" style="max-width: 150px; height: 40px;" />
                                        <input type="submit" value="Search" class="btn btn-primary ms-auto" />
                                    </div>
                                    <div class="d-flex">
                                        <span class="form-check-inline me-4">
                                            <input type="checkbox" name="Admin" value="true" class="form-check-input" /> Admin
                                        </span>
                                        <span class="form-check-inline">
                                            <input type="checkbox" name="Blocked" value="true" class="form-check-input" /> Blocked
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @for (int i = 0; i < @Model.Users.Data.Count; i++)
            {
                var currentUser = @Model.Users.Data[i];
                    <div class="transaction-list">
                        <div class="transaction-item px-2 py-2" data-bs-toggle="modal" data-bs-target="#transaction-detail">
                            <div class="row d-flex align-items-center flex-row">
                                <div class="col-2 col-sm-1">
                                    <img src="~/images/profile-thumb-sm.jpg" class="rounded-circle" src="~/images/profile-thumb-sm.jpg" alt="">
                                </div>
                                <div class="col-2 col-sm-2">
                                    <span class="d-block text-2">@currentUser.FirstName @currentUser.LastName <b>@currentUser.Username</b></span>
                                    <span class="d-block text-2">@currentUser.Email</span>
                                    <span class="d-block text-2">@currentUser.PhoneNumber</span>
                                    <span>@((currentUser.IsAdmin) ? "Admin" : "Regular User")</span>
                                </div>
                                <div class="col-2 col-sm-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <a asp-controller="Users" asp-action="Details" asp-route-id="@currentUser.Id" class="btn btn-primary btn-sm me-1">Details</a>
                                        <a asp-controller="Users" asp-action="Edit" asp-route-id="@currentUser.Id" class="btn btn-warning btn-sm me-1">Edit</a>
                                        <a asp-controller="Users" asp-action="Delete" asp-route-id="@currentUser.Id" class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            }
        }
        else
        {
            <div class="container">
                <div class="row">

                 <aside class="col-lg-3">
                    <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                                    <div class="row g-4 mb-5">
                                        <div class="col-md-4">
                                            <div class="featured-box style-3">
                                                <div class="featured-box-icon bg-primary text-white rounded"> <i class="fas fa-bullhorn"></i> </div>
                                                <h3>Refer friends</h3>
                                            </div>
                                        </div>
                                    </div>
                    <p class="text-muted opacity-8 mb-4">Supercharge your connections! Enter emails, send invites for registration. Successful sign-ups earn you both rewards. Limited invites, unlimited possibilities. Discover more in our FAQ section!</p>
                    <div class="d-grid"><a asp-controller="Help" asp-action="FAQ" class="btn btn-primary btn-sm">Go to FAQ</a></div></div>
               </aside>
                    <div class="col-lg-9">
                            <div class="row">
                                  <div class="col-lg-12">
                                      <form class="bg-white shadow-sm rounded p-4 mb-5 col-sm-6 col-md-5">
                                    <input type="text" name="Username" placeholder="Username" class="form-control mb-2" style="height: 40px; max-width: 350px;" />
                                    <input type="text" name="Email" placeholder="Email" class="form-control mb-2" style="height: 40px; max-width: 350px;" />
                                    <input type="text" name="PhoneNumber" placeholder="Phone number" class="form-control mb-2" style="height: 40px; max-width: 350px;" />
                                    <input type="submit" value="Search" class="btn btn-primary btn-sm me-1" />
                                </form>
                                  </div>
                            </div>
                       <div class="row">
                           <div class="col-lg-12">
                               @for (int i = 0; i < @Model.Users.Data.Count; i++)
                {
                    var currentUser = @Model.Users.Data[i];
                    <div class="col-lg-12">
                        <div class="transaction-list">
                            <div class="transaction-item px-6 py-6" data-bs-toggle="modal" data-bs-target="#transaction-detail">
                                <div class="row d-flex align-items-center flex-row">
                                                    <div class="col-2 col-sm-3"><img src="~/images/profile-thumb-sm.jpg" class="rounded-circle" src="~/images/profile-thumb-sm.jpg" alt=""></div>
                                        <div class="col-12 col-sm-8 col-md-6">
                                            <div class="d-flex flex-column">
                                                <span class="text-3">@currentUser.FirstName @currentUser.LastName / <b>@currentUser.Username</b></span>
                                                <span class="text-3">@currentUser.Email</span>
                                                <span class="text-3">@currentUser.PhoneNumber</span>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                                     
                           </div>
                       </div>
                    </div>
                </div>
             </div>
        } 
    </form>

    @{
        string prevButtonState = this.Model.Users.Data.HasNextPage ? "" : "disabled";
        string nextButtonState = this.Model.Users.Data.HasNextPage ? "" : "disabled";
    }

    <a asp-controller="Users" asp-action="Index" asp-all-route-data="@parameters" asp-route-PageNumber="@(this.Model.Users.Data.PageNumber-1)" class="btn btn-link @prevButtonState">Prev</a>

    @{
        int currentPageNumber = this.Model.Users.Data.PageNumber;
        for (int i = 1; i <= this.Model.Users.Data.TotalPages; i++)
        {
            if (i == currentPageNumber)
            {
                <span>@i</span>
            }
            else
            {
                <span><a asp-controller="Users" asp-all-route-data="@parameters" asp-action="Index" asp-route-PageNumber="@i">@i</a></span>
            }
        }
    }
    <a asp-controller="Users" asp-action="Index" asp-all-route-data="@parameters" asp-route-PageNumber="@(this.Model.Users.Data.PageNumber+1)" class="btn btn-link @nextButtonState">Next</a>
</body>