@model UserUpdateProfileViewModel


@{
    this.ViewData["Title"] = "Speed Pay - Profile";
    var isAdmin = User.FindFirst("IsAdmin");
    var isBlocked = User.FindFirst("IsBlocked");
}
<body>
 
  <!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
      <div class="row"> 
        
        <!-- Left Panel
        ============================================= -->
        <aside class="col-lg-3"> 
          
          <!-- Profile Details
          =============================== -->
          <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
            <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="~/images/profile-thumb.jpg" alt="">
              <div class="profile-thumb-edit bg-primary text-white" data-bs-toggle="tooltip" title="Change Profile Picture"> <i class="fas fa-camera position-absolute"></i>
                <input type="file" class="custom-file-input" id="customFile">
              </div>
            </div>
            <p class="text-3 fw-500 mb-2">Hello, Smith Rhodes</p>
            <p class="mb-2"><a href="settings-profile.html" class="text-5 text-light" data-bs-toggle="tooltip" title="Edit Profile"><i class="fas fa-edit"></i></a></p>
          </div>
          <!-- Profile Details End --> 
          
          <!-- Available Balance
          =============================== -->
          <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
            <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
            <h3 class="text-9 fw-400">$2956.00</h3>
            <p class="mb-2 text-muted opacity-8">Available Balance</p>
            <hr class="mx-n3">
            <div class="d-flex"><a href="withdraw-money.html" class="btn-link me-auto">Withdraw</a> <a href="deposit-money.html" class="btn-link ms-auto">Deposit</a></div>
          </div>
          <!-- Available Balance End --> 
                    
        </aside>
        <!-- Left Panel End --> 
        
        <!-- Middle Panel
        ============================================= -->
        <div class="col-lg-9"> 
          
          <!-- Personal Details
          ============================================= -->
          <div class="bg-white shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 fw-400 d-flex align-items-center mb-4">Personal Details<a href="#edit-personal-details" data-bs-toggle="modal" class="ms-auto text-2 text-uppercase btn-link"><span class="me-1"><i class="fas fa-edit"></i></span>Edit</a></h3>
            <hr class="mx-n4 mb-4">
            <div class="row gx-3 align-items-center">
              <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Name:</p>
              <p class="col-sm-9 text-3">@this.Model.DetailsViewModel.User.FirstName @this.Model.DetailsViewModel.User.LastName</p>
            </div>
            <div class="row gx-3 align-items-center">
              <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Date of Birth:</p>
              <p class="col-sm-9 text-3">@this.Model.DetailsViewModel.User.DateOfBirth?.ToString("yyyy-MM-dd")</p>
            </div>
            <div class="row gx-3 align-items-baseline">
              <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Country:</p>
              <p class="col-sm-9 text-3">@this.Model.DetailsViewModel.User.Country</p>
            </div>
            <div class="row gx-3 align-items-baseline">
                <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">City:</p>
                <p class="col-sm-9 text-3">@this.Model.DetailsViewModel.User.City</p>
            </div>
            <div class="row gx-3 align-items-baseline">
              <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Address:</p>
              <p class="col-sm-9 text-3">@this.Model.DetailsViewModel.User.Address</p>
            </div>
            <div class="row gx-3 align-items-center">
                <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Email:</p>
                <p class="col-sm-9 text-3">@this.Model.DetailsViewModel.User.Email</p>
            </div>
            <div class="row gx-3 align-items-center">
             <div>
                 <hr class="mx-n4 mb-4">
                 <div class="row gx-3 align-items-center">
                     <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">User status:</p>
                     <p class="col-sm-9 text-3"><b>@((isAdmin.Value == "True") ? "Admin" : "Regular User")</b></p>
                 </div>
                 <div class="row gx-3 align-items-center">
                     <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Account Status:</p>
                     @if (isBlocked.Value == "True")
                     {
                         <p class="col-sm-9 text-3"><span class="bg-danger text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i>Blocked</span></p>
                     }
                     else
                     {
                         <p class="col-sm-9 text-3"><span class="bg-success text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i>Active</span></p>
                     }
                 </div>
             </div>
            </div>
          </div>
          <!-- Edit Details Modal
          ================================== -->

          <div id="edit-personal-details" class="modal fade " role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title fw-400">Personal Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                  <form id="personaldetails" asp-controller="User" asp-action="Profile" method="post">
                    <div class="row g-3">
                      <div class="col-12 col-sm-6">
                        <label asp-for="@this.Model.UpdateUserDto.FirstName" class="form-label">First Name</label>
                        <input asp-for ="UpdateUserDto.FirstName" type="text" value="" class="form-control" data-bv-field="firstName" id="firstName" placeholder="First Name">
                        <span asp-validation-for="UpdateUserDto.FirstName" class="form-error"></span>
                      </div>
                      <div class="col-12 col-sm-6">
                        <label asp-for="@this.Model.UpdateUserDto.LastName" class="form-label">Last Name</label>
                        <input asp-for ="UpdateUserDto.LastName" type="text" value="" class="form-control" data-bv-field="lastName" id="lastName" placeholder="Last Name">
                        <span asp-validation-for="UpdateUserDto.LastName" class="form-error"></span>
                      </div>
                      <div class="col-12">
                        <label asp-for="@this.Model.UpdateUserDto.DateOfBirth" for="birthDate" class="form-label">Date of Birth</label>
                        <div class="position-relative">
                          <input asp-for="UpdateUserDto.DateOfBirth" type="date" id="birthDate" value="" class="form-control" placeholder="Date of Birth">
                          <span asp-validation-for="UpdateUserDto.DateOfBirth" class="form-error"></span>
                          <span class="icon-inside"><i class="fas fa-calendar-alt"></i></span>
						</div>
                      </div>
					  </div> 
                      <h3 class="text-5 fw-400 mt-4">Address</h3>
                      <hr>
                      <div class="row g-3">
					  <div class="col-12">
                        <label asp-for="@this.Model.UpdateUserDto.Address" for="address" class="form-label">Address</label>
                        <input asp-for="UpdateUserDto.Address" type="text" value="" class="form-control" data-bv-field="address" id="address" placeholder="Address">
                        <span asp-validation-for="UpdateUserDto.Address" class="form-error"></span>
                      </div>
                      <div class="col-12 col-sm-6">
                        <label asp-for="@this.Model.UpdateUserDto.City" for="input-zone" class="form-label">City</label>
                        <input asp-for="UpdateUserDto.City" type="text" value="" class="form-control" data-bv-field="address" id="address" placeholder="City">
                        <span asp-validation-for="UpdateUserDto.City" class="form-error"></span>
                      </div>
                      <div class="col-12 col-sm-6">
                        <label asp-for="@this.Model.UpdateUserDto.Country" for="inputCountry" class="form-label">Country</label>
                        <input asp-for="UpdateUserDto.Country" type="text" value="" class="form-control" data-bv-field="address" id="address" placeholder="Country">
                        <span asp-validation-for="UpdateUserDto.Country" class="form-error"></span>
                      </div>
                      <h3 class="text-5 fw-400 mt-4">Other</h3>
                      <hr>

                       <div class="col-12 col-sm-6">
                          <label asp-for="@this.Model.UpdateUserDto.Email" for="emailID" class="form-label d-inline-flex align-items-center">Email</label>
                          <input asp-for="UpdateUserDto.Email" type="text" value="" class="form-control" data-bv-field="emailid" id="emailID" placeholder="Email">
                          <span asp-validation-for="UpdateUserDto.Email" class="form-error"></span>
                      </div>
                       <div class="col-12 col-sm-6">
                       <label asp-for="@this.Model.UpdateUserDto.PhoneNumber" class="form-label d-inline-flex align-items-center">Mobile</label>
                       <input asp-for="UpdateUserDto.PhoneNumber" type="text" value="" class="form-control" data-bv-field="mobilenumber" id="mobileNumber" placeholder="Mobile Number">
                        <span asp-validation-for="UpdateUserDto.PhoneNumber" class="form-error"></span>
                      </div>
					  <div class="col-12 mt-4 d-grid"><button class="btn btn-primary" type="submit">Save Changes</button></div>
                     </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Personal Details End -->     
          
        </div>
        <!-- Middle Panel End --> 

      </div>
    </div>
  </div>
  <!-- Content end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Script --> 
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<script src="vendor/daterangepicker/moment.min.js"></script> 
<script src="vendor/daterangepicker/daterangepicker.js"></script> 
<script>
$(function() {
 'use strict';
  // Birth Date
  $('#birthDate').daterangepicker({
	singleDatePicker: true,
	showDropdowns: true,
	autoUpdateInput: false,
	maxDate: moment().add(0, 'days'),
	}, function(chosen_date) {
  $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
  });
  });
</script> 
<script src="js/theme.js"></script>
</body>
