@model UserUpdateProfileViewModel


@{
    this.ViewData["Title"] = "Speed Pay - Profile";
    var loggedUserId = User.FindFirst(ClaimTypes.NameIdentifier);
    var isAdmin = User.FindFirst("IsAdmin");
    var isBlocked = User.FindFirst("IsBlocked");
    var username = User.FindFirst(ClaimTypes.Name);
}



<body>

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container mt-4">
            <div class="row">
                <aside class="col-lg-3">
                    <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                            <img class="center rounded-circle" src="@Url.Content("~/UploadedImages/" + username + ".png")" height="30" width="30" alt="" style="width: 110px; height: 110px;">
                            <p class="text-black opacity-12 mb-4">
                                <b>@this.Model.DetailsViewModel.User.Username</b> <br>
                                        @DateTime.Now.DayOfWeek, @DateTime.Now.Date.ToShortDateString()
                            <p>
                        </div>
                    </div>
                </aside>
                    <!-- Profile Details End -->
                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet text-primary"></i></div>
                        <h3 class="text-9 fw-400">@this.Model.DetailsViewModel.User.AccountBalance</h3>
                        <p class="mb-2 text-muted opacity-8">Available Balance</p>
                        <hr class="mx-n3">
                        <div class="d-flex">
                            <a asp-controller="Transfer" asp-action="Create" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)" class="btn-link me-auto">Withdraw</a>
                            <a asp-controller="Transfer" asp-action="Create" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)" class="btn-link ms-auto">Deposit</a>
                        </div>
                    </div>
                    <!-- Available Balance End -->
                </aside>
                <!-- Left Panel End -->
                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">

                    <!-- Personal Details
                    ============================================= -->
                    <div class="bg-white shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 fw-400 d-flex align-items-center mb-4">Password<a href="#edit-personal-details" data-bs-toggle="modal" class="ms-auto text-2 text-uppercase btn-link"><span class="me-1"><i class="fas fa-edit"></i></span>Change</a></h3>
                        <hr class="mx-n4 mb-4">
                        <div class="row gx-3 align-items-center">
                            <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Create or update your password</p>
                        </div>
                    </div>
                    <!-- Edit Details Modal
                    ================================== -->

                    <div id="edit-personal-details" class="modal fade " role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fw-400">Password</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="personaldetails" asp-controller="User" asp-action="Profile" method="post">
                                        <div class="row g-3">
                                            <div class="col-12 col-sm-6">
                                                <label asp-for="@this.Model.UpdateUserDto.Password" class="form-label">Password</label>
                                                <input asp-for="UpdateUserDto.Password" type="text" value="" class="form-control" data-bv-field="firstName" id="firstName" placeholder="First Name">
                                                <span asp-validation-for="UpdateUserDto.Password" class="form-error"></span>
                                            </div>
                                            <div class="col-12 mt-4 d-grid"><button class="btn btn-primary" type="submit">Save Changes</button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Personal Details End -->

                </div>
                <!-- Middle Panel End -->

            </div>
        </div>
    </div>
    <!-- Content end -->
    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Script -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script>
        $(function () {
            'use strict';
            // Birth Date
            $('#birthDate').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoUpdateInput: false,
                maxDate: moment().add(0, 'days'),
            }, function (chosen_date) {
                $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
            });
        });
    </script>
    <script src="js/theme.js"></script>
</body>
