@{
    this.ViewData["Title"] = "Speed Pay - About us";
}

<body>
 
  <!-- Content
  ============================================= -->
  <div id="content">
    
    <!-- Who we are
    ============================================= -->
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex">
            <div class="my-auto px-0 px-lg-5 mx-2">
              <h2 class="text-7 mb-4">Who we are</h2>
                  <p class="text-3">@Helpers.Text.WhoWeAreText</p>
            </div>
          </div>
         <div class="col-lg-5 my-auto text-center"> <img class="img-fluid shadow-lg rounded-3" src="~/images/WhoWeare.jpg"> </div>
        </div>
      </div>
    </section>
    <!-- Who we are end -->
    
    <!-- Our Values
    ============================================= -->
    <section class="section bg-white">
      <div class="container">
        <div class="row g-0">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="row">
              <div class="col-6 col-lg-7 ms-auto mb-lg-n5"> <img class="img-fluid rounded-3 shadow-lg" src="~/images/OurValues.jpg"> </div>
              <div class="col-6 col-lg-8 mt-lg-n5 mr-auto mb-lg-n5"> <img class="img-fluid rounded-3 shadow-lg" src="~/images/OurMission.jpg"> </div>
             @* <div class="col-6 col-lg-7 ms-auto"> <img class="img-fluid rounded-3 shadow-lg" width="250" height="250" src="~/images/our-vision.jpg"> </div>*@
            </div>
          </div>
          <div class="col-lg-6 d-flex order-1 order-lg-2">
            <div class="my-auto px-0 px-lg-5">
              <h4 class="text-5 fw-500">Our Values</h4>
              <p class="tex-3" ><b>Security:</b> @Helpers.Text.OurFirstValue</p>
               <p class="tex-3"><b>Innovation:</b> @Helpers.Text.OurSecondValue</p>
               <p class="tex-3"><b>User-Centric:</b> @Helpers.Text.OurThirdValue</p>
              <h4 class="text-5 fw-500">Our Mission</h4>
              <p class="tex-3" >@Helpers.Text.OurMission</p>
              <h4 class="text-5 fw-500 mb-2">Our Vision</h4>
              <p class="tex-3" >@Helpers.Text.OurVision</p>
              <h4 class="text-5 fw-500 mb-2">Our Goal</h4>
              <p class="tex-3" >@Helpers.Text.OurGoal</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Our Values end -->
    
    <!-- Leadership
    ============================================= -->
    <section class="section">
      <div class="container">
        <h2 class="text-9 text-center">Leadership</h2>
                    <p class="lead text-center mb-5">These incredible individuals made our big dream come true </p>
        <div class="row g-8">
          <div class="col-sm-8 col-md-4 text-center">
            <div class="team rounded d-inline-block"> <img class="img-fluid rounded" alt="" height="350" width="350" src="~/images/Vaklev.jpg">
              <h3>Kristian Vaklev</h3>
              <p class="text-muted">Co-Founder</p>
              <ul class="social-icons social-icons-sm d-inline-flex">
                <li class="social-icons-facebook"><a title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li class="social-icons-google"><a href="" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8 col-md-4 text-center">
            <div class="team rounded d-inline-block"> <img class="img-fluid rounded" alt="" height="400" width="400" src="~/images/Evelina.jpg">
              <h3>Evelina Hristova</h3>
              <p class="text-muted">Co-Founder</p>
              <ul class="social-icons social-icons-sm d-inline-flex">
                <li class="social-icons-facebook"><a href="" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li class="social-icons-google"><a href="" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8 col-md-4 text-center">
            <div class="team rounded d-inline-block"> <img class="img-fluid rounded" alt="" height="360" width="360" src="~/images/Marina.jpg">
              <h3>Marina Toncheva</h3>
              <p class="text-muted">Co-Founder</p>
              <ul class="social-icons social-icons-sm d-inline-flex">
                <li class="social-icons-facebook"><a href="" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li class="social-icons-google"><a href="" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Leadership end -->
        
    <!-- Testimonial
    ============================================= -->
       <section class="section">
      <div class="container">
        <h2 class="text-9 text-center">What people are saying about Speed Pay</h2>
        <p class="lead text-center mb-4">A payments experience people love to talk about</p>
        <div class="owl-carousel owl-theme" data-autoplay="true" data-nav="true" data-loop="true" data-margin="30" data-slideby="2" data-stagepadding="5" data-items-xs="1" data-items-sm="1" data-items-md="2" data-items-lg="2">
          <div class="item">
            <div class="testimonial rounded text-center p-4">
              <p class="text-9 text-muted opacity-2 mb-0"><i class="fa fa-quote-left"></i></p>
			  <p class="text-4">“Easy to use, reasonably priced simply dummy text of the printing and typesetting industry. Quidam lisque persius interesset his et, in quot quidam possim iriure.”</p>
              <strong class="d-block fw-500">Jay Shah</strong> <span class="text-muted">Founder at Icomatic Pvt Ltd</span> </div>
          </div>
          <div class="item">
            <div class="testimonial rounded text-center p-4">
              <p class="text-9 text-muted opacity-2 mb-0"><i class="fa fa-quote-left"></i></p>
			  <p class="text-4">“I am happy Working with printing and typesetting industry. Quidam lisque persius interesset his et, in quot quidam persequeris essent possim iriure.”</p>
              <strong class="d-block fw-500">Patrick Cary</strong> <span class="text-muted">Freelancer from USA</span> </div>
          </div>
          <div class="item mh-100">
            <div class="testimonial rounded text-center p-4">
              <p class="text-9 text-muted opacity-2 mb-0"><i class="fa fa-quote-left"></i></p>
			  <p class="text-4">“Fast easy to use transfers to a different currency. Much better value that the banks.”</p>
              <strong class="d-block fw-500">De Mortel</strong> <span class="text-muted">Online Retail</span> </div>
          </div>
          <div class="item">
            <div class="testimonial rounded text-center p-4">
              <p class="text-9 text-muted opacity-2 mb-0"><i class="fa fa-quote-left"></i></p>
			  <p class="text-4">“I have used them twice now. Good rates, very efficient service and it denies high street banks an undeserved windfall. Excellent.”</p>
              <strong class="d-block fw-500">Chris Tom</strong> <span class="text-muted">User from UK</span> </div>
          </div>
          <div class="item">
            <div class="testimonial rounded text-center p-4">
              <p class="text-9 text-muted opacity-2 mb-0"><i class="fa fa-quote-left"></i></p>
			  <p class="text-4">“It's a real good idea to manage your money by payyed. The rates are fair and you can carry out the transactions without worrying!”</p>
              <strong class="d-block fw-500">Mauri Lindberg</strong> <span class="text-muted">Freelancer from Australia</span> </div>
          </div>
          <div class="item">
            <div class="testimonial rounded text-center p-4">
              <p class="text-9 text-muted opacity-2 mb-0"><i class="fa fa-quote-left"></i></p>
			  <p class="text-4">“Only trying it out since a few days. But up to now excellent. Seems to work flawlessly. I'm only using it for sending money to friends at the moment.”</p>
              <strong class="d-block fw-500">Dennis Jacques</strong> <span class="text-muted">User from USA</span> </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial end -->
    
    <!-- JOIN US
    ============================================= -->
        <div class="container text-center">
            <div class="row gy-4">
                <div class="col-sm-6 col-md-3 mx-6">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-4 mb-2"> <i class="fas fa-globe"></i> </div>
                        <h4 class="text-12 text-4 mb-0">180+</h4>
                        <p class="text-4 text-4 mb-0">Countries</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mx-6">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-4 mb-2"> <i class="fas fa-dollar-sign"></i> </div>
                        <h4 class="text-12 text-4 mb-0">120</h4>
                        <p class="text-4 text-4 mb-0">Currencies</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mx-6">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-4 mb-2"> <i class="fas fa-users"></i> </div>
                        <h4 class="text-12 text-4 mb-0">2.5M</h4>
                        <p class="text-4 text-4 mb-0">Wallets</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mx-6">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-4 mb-2"> <i class="far fa-life-ring"></i> </div>
                        <h4 class="text-12 text-4 mb-0">24X7</h4>
                        <p class="text-4 text-4 mb-0">Support</p>
                    </div>
                </div>
            </div>
        </div>
    <!-- JOIN US end -->
    
  </div>
  <!-- Content end --> 
  
<!-- Document Wrapper end --> 

</body>