@{
    this.ViewData["Title"] = "Speed Pay - FAQ";
}

<body>
       <!-- Popular Topics
    ============================================= -->
    <section class="section bg-white">
      <div class="container">
            <h2 class="text-9 text-center">Welcome to out FAQ section</h2>
            <p class="text-4 text-center mb-5">Here, we've compiled a list of common queries and provided detailed answers to help you navigate through any uncertainties.</p>
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="row gx-5">
              <div class="col-md-6">                
				<div class="accordion accordion-flush" id="popularTopics">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">I forgot the password for my account.</button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#popularTopics">
                      <div class="accordion-body">@Html.Raw(@Constants.FirstQuestionMessage)</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">How do I withdraw funds from my account?</button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#popularTopics">
                      <div class="accordion-body">@Html.Raw(@Constants.SecondQuestionMessage)</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">How do I link bank account to my account?</button>
                    </h2>
                    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-bs-parent="#popularTopics">
                      <div class="accordion-body">@Html.Raw(@Constants.ThirdQuestionMessage)</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">How do I confirm the email address on my account?</button>
                    </h2>
                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-bs-parent="#popularTopics">
                      <div class="accordion-body">@Html.Raw(@Constants.FourthQuestionMessage)</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">How do I receive payments? </button>
                    </h2>
                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-bs-parent="#popularTopics">
                      <div class="accordion-body">@Html.Raw(@Constants.FifthQuestionMessage)</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="accordion accordion-flush" id="popularTopics2">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading6">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">How Can I View My Payments History?</button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#popularTopics2">
                      <div class="accordion-body">@Html.Raw(Constants.SixthQuestionMessage)</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading7">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">Where is my refund?</button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#popularTopics2">
                      <div class="accordion-body">@Html.Raw(@Constants.SeventhQuestionMessage)</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading8">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">How do I request payments or send an invoice?</button>
                    </h2>
                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#popularTopics2">
                      <div class="accordion-body">@Html.Raw(@Constants.EightQuestionMessage)</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading9">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">Closing Your Account</button>
                    </h2>
                    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#popularTopics2">
                      <div class="accordion-body">@Html.Raw(@Constants.NinthQuestionMessage)</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading10">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">How do I update my contact information on my account?</button>
                    </h2>
                    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#popularTopics2">
                      <div class="accordion-body">@Html.Raw(@Constants.TenthQuestionMessage)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Popular Topics end -->
    <!-- Style 4
          ============================================= -->
    <div class="row g-4 mb-5">
        <div class="col-md-4">
            <div class="featured-box style-4">
                <div class="featured-box-icon bg-light-3 text-primary rounded-circle"> <i class="fas fa-bullhorn"></i> </div>
                <h3>You Refer Friends</h3>
                <p class="text-3">1. Log in to your account.</p>
                <p class="text-3">2. Navigate to the "Refer a Friend" section in your <strong>Account</strong> menu.</p>
                <p class="text-3">3. Enter your friends' email addresses and click "Send Invitation".</p>
                <h4>Your friends will receive an email invitation with a special registration link.</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="featured-box style-4">
                <div class="featured-box-icon bg-primary text-white rounded"> <i class="fas fa-sign-in-alt"></i> </div>
                <h3>Your Friends Register</h3>
                <p class="text-3">1. Open the email invitation you sent.</p>
                <p class="text-3">2. Click on the unique registration link provided in the email.</p>
                <p class="text-3">3. Complete the registration process and verify their account.</p>
                <h4>Once they've successfully registered, they'll receive a fantastic $10 bonus!</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="featured-box style-4">
                <div class="featured-box-icon bg-dark text-white rounded-circle"> <i class="fas fa-dollar-sign"></i> </div>
                <h3>Earn You</h3>
                <p class="text-3">1. You will receive a generous $20 reward credited to your wallet!</p>
                <p class="text-3">2. You can use these credits for various activities  - your choice!</p>
                <p class="text-3">3. You are limited up to 5 referrals!</p>
                <h4>You must keep track of the expiration dates for each invitation and make sure your friends register in time.</h4>
            </div>
        </div>
    </div>
    <!-- Style 4 end -->

    <!-- Customer Support and Feedback
    ============================================= -->
    <section class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="text-9">Need Further Assistance?</h2>
                    <p class="text-4 mb-4">Our customer support team is here to help you. Reach out to us for personalized assistance.</p>
                    <h4>Contact Details</h4>
                    <p>For any inquiries or issues, you can reach us through:</p>
                    <ul class="list-unstyled">
                        <li><strong>Email:</strong> support@speedpay.com</li>
                    </ul>
                    <h4>Availability</h4>
                    <p>Our customer support team is available from Monday to Friday, 9 AM to 6 PM (GMT).</p>
                    <h4>Common Issues We Can Help With</h4>
                    <p class ="mb-2">Our team can assist you with a wide range of inquiries, including:</p>
                    <ul class="list-unstyled">
                        <li>Account-related questions, Payment and transaction issues, Technical problems or others.</li>
                    </ul>
                </div>
                <div class="col-md-6 text-center">
                    <h2 class="text-9">We Value Your Input</h2>
                    <p class="text-4 mb-4">Your experience is vital to us, and we're dedicated to improvement. Please share your thoughts, suggestions, and feedback.</p>
                    <h4>Feedback</h4>
                    <p>We're committed to providing the best experience possible. If you've used our service or this FAQ section, we'd love to hear your feedback. Your insights help us improve.</p>
                    <h4>Suggestions</h4>
                    <p>Is there a question you expected to find here but didn't? Do you have suggestions for improving our FAQ section? We're all ears!</p>
                    <p>Feel free to suggest additional questions or topics for inclusion in our FAQs. Your suggestions help us make this resource more valuable to others.</p>
                    <p>Send us your suggestions through our <a asp-controller="Help" asp-action="ContactUs">Contact Us</a> page.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Customer Support and Feedback End -->

</body>
