@{
    this.ViewData["Title"] = "Speed Pay - Privacy policy and terms of use";
}

<body>

 <!-- Why choose us
  ============================================= -->
        <section class="align-content-center">
            <div class="container">
            <h2 class="style-1 text-center mt-5">OUR TERMS OF USE</h2>
                <p class="lead text-center mb-3">Last updated: 18/08/2023</p>
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="section h-100 p-5 rounded">
                            <div class="rounded opacity-6 bg-white"></div>
                            <div>
                                <p class="style-1 mb-3">@Constants.TermsOfUseMessageFirst</p>
                                <p class="style-1 mb-3">@Constants.TermsOfUseMessageSecond</p>
                                <p class="style-1 mb-5">@Constants.TermsOfUseMessageThird</p>
                        <img class="img-fluid shadow-lg rounded-3" height="500" width="500" src="~/images/TermsOfUse.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured-box style-1">
                            <div class="featured-box-icon text-primary">  </div>
                        <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                        <h3>Acceptance of Terms</h3>
                        <p>@Constants.TermsOfUseMessageFourth</p>
                        </div>
                        <div class="featured-box style-1">
                            <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                            <h3>Use of the Service</h3>
                        <p>@Constants.TermsOfUseMessageFifth</p>
                        </div>
                        <div class="featured-box style-1">
                            <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                            <h3>User Accounts</h3>
                        <p>@Constants.TermsOfUseMessageSixth</p>
                        </div>
                        <div class="featured-box style-1">
                            <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                            <h3>Privacy</h3>
                        <p>@Constants.TermsOfUseMessageSeventh</p>
                        </div>
                        <div class="featured-box style-1">
                            <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                            <h3>Transactions and Payments</h3>
                        <p>@Constants.TermsOfUseMessageEight</p>
                        </div>
                        <div class="featured-box style-1">
                            <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                            <h3>Intellectual Property</h3>
                        <p>@Constants.TermsOfUseMessageNinth</p>
                        </div>
                        <div class="featured-box style-1">
                            <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                            <h3>Termination</h3>
                        <p>@Constants.TermsOfUseMessageTenth</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why choose us End -->

<!-- Popular Topics
============================================= -->
    <section class="section bg-white">
        <div class="container">
            <h2 class="style-1 text-center mt-3">OUR PRIVACY POLICY</h2>
            <p class="text-4 text-center mb-5">We will describe how your personal information is collected, used, and shared</p>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="row gx-5">
                        <div class="col-md-6">
                            <div class="accordion accordion-flush" id="popularTopics">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading1">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">Information we collect</button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#popularTopics">
                                        <div class="accordion-body">@Constants.PrivacyPolicyMessageFirst</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">How We Use Your Information</button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#popularTopics">
                                        <div class="accordion-body">@Constants.PrivacyPolicyMessageSecond</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Sharing Your Information</button>
                                    </h2>
                                    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-bs-parent="#popularTopics">
                                        <div class="accordion-body">@Constants.PrivacyPolicyMessageThird</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading4">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">Your Choices</button>
                                    </h2>
                                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-bs-parent="#popularTopics">
                                        <div class="accordion-body">@Constants.PrivacyPolicyMessageFourth</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading5">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">Security</button>
                                    </h2>
                                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-bs-parent="#popularTopics">
                                        <div class="accordion-body">@Constants.PrivacyPolicyMessageFifth</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="accordion accordion-flush" id="popularTopics2">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading6">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">Children's Privacy</button>
                                    </h2>
                                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#popularTopics2">
                                        <div class="accordion-body">@Constants.PrivacyPolicyMessageSixth</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading7">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">Changes to this Privacy Policy</button>
                                    </h2>
                                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#popularTopics2">
                                        <div class="accordion-body">@Constants.PrivacyPolicyMessageSeventh</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading8">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">Data Retention</button>
                                    </h2>
                                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#popularTopics2">
                                        <div class="accordion-body">@Constants.PrivacyPolicyMessageEight</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading9">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">Third-Party Links</button>
                                    </h2>
                                    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#popularTopics2">
                                        <div class="accordion-body">@Constants.PrivacyPolicyMessageNinth</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading10">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">Your Rights and Choices</button>
                                    </h2>
                                    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#popularTopics2">
                                        <div class="accordion-body">@Constants.PrivacyPolicyMessageTenth</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <!-- Popular Topics end -->

</body>