@using DataAccess.Models.Enums;
@model Business.ViewModels.ConfirmTransferViewModel
@*@{
    string firstName = Model.UserDetails.FirstName.ToString();
    string lastName = Model.UserDetails.FirstName.ToString();
}*@

<!-- Secondary menu
  ============================================= -->
<div class="bg-primary">
    <div class="container d-flex justify-content-center">
        <ul class="nav nav-pills alternate nav-lg border-bottom-0">
            <li class="nav-item"> <a class="nav-link active" href="send-money.html">Transfer</a></li>
        </ul>
    </div>
</div>
<!-- Secondary menu end -->
<!-- Content
============================================= -->
<div id="content" class="py-4">
    <div class="container">

        <!-- Steps Progress bar -->
        <div class="row mt-4 mb-5">
            <div class="col-lg-11 mx-auto">
                <div class="row widget-steps">
                    <div class="col-4 step complete">
                        <div class="step-name">Details</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a asp-action="Update" asp-controller="Transfer" asp-route-id="@Model.GetTransferDto.Id" class="step-dot"></a>
                    </div>
                    <div class="col-4 step active">
                        <div class="step-name">Confirm</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Success</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.GetTransferDto.TransferType == TransferDirection.Deposit.ToString())
        {
            <h2 class="fw-400 text-center mt-3">Deposit Money</h2>

            <p class="lead text-center mb-4">You are transferring money from Card No.<span class="fw-500">@Model.GetTransferDto.CardNumber</span></p>

        }
        else
        {
            <h2 class="fw-400 text-center mt-3">Withdraw Money</h2>

            <p class="lead text-center mb-4">You are withdrawing money to Card No.<span class="fw-500">@Model.GetTransferDto.CardNumber</span></p>
        }

        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
                    <!-- Request Money Confirm Details
                    ============================================= -->
                    <h3 class="text-5 fw-400 mb-3 mb-sm-4">Confirm Details</h3>
                    <hr class="mx-n3 mx-sm-n5 mb-4">
                    <div class="row g-3 align-items-center">
                        <p class="col-sm-4 text-muted text-sm-end fw-500 mb-0 mb-sm-3">Name:</p>
                        <p class="col-sm-8 text-4 fw-500">@Model.UserDetails.FirstName @Model.UserDetails.LastName</p>
                    </div>

                    <div class="row g-3 align-items-center">

                        @if (Model.GetTransferDto.TransferType == TransferDirection.Deposit.ToString())
                        {
                            <p class="col-sm-4 text-muted text-sm-end fw-500 mb-0 mb-sm-3">Deposit:</p>
                            <p class="col-sm-8 text-4 fw-500">
                                @Model.GetTransferDto.Amount.ToString("F2") @Model.GetTransferDto.Account.Currency.CurrencyCode
                            </p>
                        }
                        else
                        {

                            <p class="col-sm-4 text-muted text-sm-end fw-500 mb-0 mb-sm-3">Withdrawal:</p>
                            <p class="col-sm-8 text-4 fw-500">
                                @Model.GetTransferDto.Amount.ToString("F2") @Model.GetTransferDto.CurrencyCode
                            </p>

                        }
                    </div>

                    <div class="row g-3 align-items-baseline">

                        <p class="col-sm-4 text-muted text-sm-end mb-0 mb-sm-3">Card No.:</p>
                        <p class="col-sm-8 text-4 fw-500">@Model.GetTransferDto.CardNumber </p>
                    </div>

                    <div class="row g-3 align-items-baseline">

                        <p class="col-sm-4 text-muted text-sm-end mb-0 mb-sm-3">Card Type:</p>
                        <p class="col-sm-8 text-4 fw-500">@Model.GetTransferDto.Card.CardType </p>
                    </div>

                    <div class="row g-3 align-items-baseline">

                        <p class="col-sm-4 text-muted text-sm-end mb-0 mb-sm-3">Card Currency:</p>
                        <p class="col-sm-8 text-4 fw-500"> @Model.GetTransferDto.Card.Currency.CurrencyCode</p>
                    </div>

                </div>
                <form id="form-send-money" method="post">
                    <div class="d-grid"><button class="btn btn-primary">Transfer</button></div>
                </form>
                <div></div>
                <div></div>
                <div> <span style="margin-right:15%"></span></div>
                <div><span style="margin-right:15%"></span></div>
                <div class="text-center">
                    <a asp-action="Delete" asp-controller="Transfer" asp-route-id="@Model.GetTransferDto.Id" class="btn btn-outline-dark shadow-none px-5 m-2">Delete</a>
                    <spam style="margin-right:5%"></spam>  <a asp-action="Index" asp-controller="Transfer" class="btn btn-outline-dark shadow px-5 m-2">Close</a>
                </div>

               @* <form id="form-send-money" method="post">
                    <div class="d-grid"><button class="btn btn-primary">Transfer</button></div>
                </form>
                <div></div>
                <div></div>
                <div> <span style="margin-right:15%"></span></div>
                <div><span style="margin-right:15%"></span></div>
                <spam style="margin-right:15%"></spam>  <a asp-action="Delete" asp-controller="Transfer" asp-route-id="@Model.GetTransferDto.Id" class="btn btn-dark shadow-none px-5 m-2">Delete</a>
                <spam style="margin-right:5%"></spam>  <a asp-action="Index" asp-controller="Transfer" class="btn btn-dark shadow px-5 m-2">Close</a>*@
                <!-- Request Money Confirm Details end -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- Content end -->
