@using Business.QueryParameters;
@using Business.Services.Contracts;
@using DataAccess.Models.Enums;
@using DataAccess.Models.Models;

@model Business.ViewModels.CreateTransferViewModel;

@{
    this.ViewData["Title"] = "Speed Pay - Quick and Trustworthy Money Transfers ";

    var cards = JsonSerializer.Deserialize<List<GetCreatedCardDto>>(TempData.Peek("Cards").ToString());
    //var cards = new SelectList(cardService.GetAll(@Model.User));
}

<head>
    <link rel="stylesheet" type="text/css" href="~/vendor/currency-flags/css/currency-flags.min.css" />
</head>

<!-- Secondary menu
 ============================================= -->

<div class="bg-primary">
    <div class="container d-flex justify-content-center">
        <ul class="nav nav-pills alternate nav-lg border-bottom-0">
            <li class="nav-item"> <a class="nav-link active">Transfer</a></li>

        </ul>
    </div>
</div>
<!-- Secondary menu end -->
<!-- Content
============================================= -->
<div id="content" class="py-4">
    <div class="container">

        <!-- Steps Progress bar -->
        <div class="row mt-4 mb-5">
            <div class="col-lg-11 mx-auto">
                <div class="row widget-steps">
                    <div class="col-4 step active">
                        <div class="step-name">Details</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Confirm</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Success</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="fw-400 text-center mt-3">Transfer Money</h2>

        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">

                    <!-- Deposit Money Form
                    ============================================= -->
                    <form asp-controller="Transfer" asp-action="Create" id="form-send-money" method="post">

                        <div class="mb-3">
                            <label for="transferDirection" class="form-label">Select Transfer Direction</label>
                            <select asp-for="CreateTransferDto.TransferType" id="transferDirection" class="form-select" required="">
                                @*<option value="">Select Transfer Direction</option>*@
                                @foreach (var transferDirectionValue in Enum.GetValues(typeof(TransferDirection)))
                                {
                                    var transferDirectionName = Enum.GetName(typeof(TransferDirection), transferDirectionValue);
                                    <option value="@transferDirectionValue">@transferDirectionName</option>
                                }
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="paymentMethod" class="form-label">Select Card</label>
                            <select asp-for="CreateTransferDto.CardNumber" id="cardType" class="form-select" required="">
                                <option value="">My Cards</option>
                                @foreach (var card in cards)
                                {
                                    <option data-subtext="@card.CurrencyCode" value="@card.CardNumber"> @card.CardType - @card.CardNumber - @card.CurrencyCode </option>
                                }
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="youSend">Amount</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input asp-for="CreateTransferDto.Amount" type="text" class="form-control" data-bv-field="youSend" id="youSend" value="" placeholder="">

                                <span asp-for="CreateTransferDto.CurrencyCode" value="" id="amountCurrency" class="input-group-text">USD</span>

                            </div>
                        </div>

                        <input id="hiddenCurrency" asp-for="CreateTransferDto.CurrencyCode" hidden value="USD" />

                        @*<hr>
                        <p class="text-4 fw-500">You'll deposit <span class="float-end">1,000.00 USD</span></p>
                        <div class="d-grid"><button type="submit" class="btn btn-primary">Continue</button></div>*@

                        <hr>
                        <p class="text-4 fw-500">
                            You'll transfer
                            <span id="depositAmountCurrency" class="float-end">USD</span>
                            <span id="depositAmount" class="float-end">0.00&nbsp;</span>
                        </p>
                        <div class="d-grid"><button type="submit" class="btn btn-primary">Continue</button></div>


                    </form>
                    <!-- Deposit Money Form end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content end -->
<link rel="stylesheet" type="text/css" href="~/vendor/currency-flags/css/currency-flags.min.css" />



<script>
    document.getElementById('cardType').addEventListener('change', function (event) {
        var newValue = '';
        for (const child of document.getElementById('cardType').children) {
            if (child.selected) {
                newValue = child.getAttribute('data-subtext');
            }
        }
        document.getElementById("amountCurrency").textContent = newValue;
        document.getElementById("hiddenCurrency").setAttribute('value', newValue);
        document.getElementById('depositAmountCurrency').textContent = newValue;
    });
</script>

<script>
    document.getElementById('youSend').addEventListener('input', function (event) {
        var depositAmountElement = event.target.value;

        document.getElementById('depositAmount').textContent = depositAmountElement;
    });
</script>